.profile-info__activity {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin: 16px 0 0;
  flex-basis: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 613px) {
  .profile-info__activity {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 14px auto 0;
  }
}