.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto 0;
}

@media (max-width: 913px) {
  .profile {
    margin: 40px 17px;
  }
}

@media (max-width: 613px) {
  .profile {
    flex-direction: column;
    margin: 42px 19px 0;
  }
}