.popup__close {
  width: 32px;
  height: 32px;
  border: 0;
  background: url(../../../images/close.svg) center no-repeat;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: 0.3s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 530px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}