.element__trash {
  width: 18px;
  height: 19px;
  border: none;
  background: url(../../../images/trash.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s;
}

.element__trash:hover {
  opacity: 0.6;
}